.toll-table {
    width: 95%;
    border-collapse: collapse;
    border:none;
    margin:auto;
    margin-top: 20px;
    
  }
  
  .table-header {
    background-color:rgb(240, 239, 239);
   
  }
  
  .header-cell {
    font-size: 16px;
    text-align: left;
   color:rgb(109, 109, 109);
    padding: 10px;
  }
  
  .table-body td {
    font-size: 16px;
    padding: 10px;
  }